<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hibrido_buttoncolor" translate="label" sortOrder="10">
            <label>Hibrido</label>
        </tab>
        <section id="hibrido_buttoncolor" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Trocar cor do botão</label>
            <tab>hibrido_buttoncolor</tab>
            <resource>Hibrido_ButtonColor::config</resource>
            <group id="general_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configurações</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Habilitar Módulo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="color_hex" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Cor Hexadecimal</label>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Id Loja</label>
                </field>
            </group>
        </section>
    </system>
</config>